[submodule "packages/on_demand_video_decoder/ext_impl/external/NVTX"]
	path = packages/on_demand_video_decoder/ext_impl/external/NVTX
	url = https://github.com/NVIDIA/NVTX.git

[submodule "packages/optim_test_tools/ext_impl/external/NVTX"]
	path = packages/optim_test_tools/ext_impl/external/NVTX
	url = https://github.com/NVIDIA/NVTX.git

[submodule "packages/on_demand_video_decoder/ext_impl/external/dlpack"]
	path = packages/on_demand_video_decoder/ext_impl/external/dlpack
	url = https://github.com/dmlc/dlpack.git

[submodule "packages/on_demand_video_decoder/ext_impl/external/pybind11"]
	path = packages/on_demand_video_decoder/ext_impl/external/pybind11
	url = https://github.com/pybind/pybind11.git

[submodule "packages/lane_helpers/ext_impl/external/googletest"]
	path = packages/lane_helpers/ext_impl/external/googletest
	url = https://github.com/google/googletest.git
[submodule "packages/example_skbuild_package/ext_impl/external/googletest"]
	path = packages/example_skbuild_package/ext_impl/external/googletest
	url = https://github.com/google/googletest.git
[submodule "packages/on_demand_video_decoder/ext_impl/external/googletest"]
	path = packages/on_demand_video_decoder/ext_impl/external/googletest
	url = https://github.com/google/googletest.git
